*{box-sizing: border-box;}
/* main-css-hai */
body{
    margin:0px;
    padding: 0px;
     font-family: "PT Sans", sans-serif;
}


.main-header{
    width:100%;
    float:left;
    background-color: #131921;
    height:67px;
}

.logo-pic{
  width: 128px;
    margin-top: 7px;
    margin-left: 12px;
    float: left;
    padding-top: 14px;
    padding-left: 11px;
    padding-top: 8px;
    padding-right: 0px;
    margin-right: 3px;
    marging-right: 13px;
    border:1px solid transparent;
}

.logo-pic:hover{
    border:1px solid white;

}

.logo-pic img{
    width:100%;
}

.mark{
 width: 190px;
    float: left;
    height: 56px;
    color: white;
    padding-left: 0px;
    padding-top: 3px;
    padding-bottom: 10px;
    margin-top: 6px;
    border: 1px solid transparent;


}
.mark:hover{
    border: 1px solid white;
}

.mark-icon{
   width: 27px;
    float: left;
    padding-top: 18px;
    padding-left: 8px;
}

.mark-icon i{

}
.mark-addreas{
 width: 147px;
    padding-left: -8px;
    float: left;
   
}

.mark-addreas .t{
font-size: 11px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
    margin-top: 4px;
    color:#CEE;
}

.mark-addreas .tt{
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    padding-bottom: 5px;
}


.main-sching-box{
 width: 789px;
    float: left;
    overflow: hidden;
    border-radius: 5px;
    padding-top: 0px;
    margin-top: 12px;
    border: 1px solid white;
    margin-left:13px;
    height: 40px;
}

.main-sching-box input{
  width: 697px;
    border: none;
    height: 40px;
    font-size: 16px;
    padding-top: 9px;
    margin-left: 6px;
    padding-left: 8px;
    padding-bottom: 12px;
}



    .all-box{
       width: 51px;
    color: black;
    height: 38px;
    background: #ddd;
    /* color: white; */
    position: relative;
   
     
   
        
    }


    .op{
        width: 52px;
    border: none;
    background: #ddd;
    padding-left: -9px;
    height: 38px;

    }
    

    .input-box{
    width: 697px;
    padding-top: -5px;
    
    margin-left: 44px;
    /* margin-left: 47px; */
    margin-top: -39px;
    padding-bottom: 39px;
    }
    .all-box span{
width: 10px;
    padding-top: 21px;
    top: 6px;
    left: 6px;
    font-size: 13px;
    position: relative;
    }
    .all-box i{
   width: 10px;
    position: relative;
    /* top: -3px; */
    left: 13px;
    font-size: 12px;
    bottom: -6px;
    }

    .Search-icon{
position: relative;
   left: 741px;
    bottom: 78px;
    text-align: center;
    border-radius: 3px;
    width: 47px;
    height: 40px;
    padding-top: 7px;
    position: relative;
  background-color: orange;
    color: black;


    }

    .Search-icon i{
font-size: 22px;
    }

    .header-right-box{
   width: auto;
    
    
    float: left;
    height: 50px;
    }
    
    .header-right-box ul li{
       list-style: none;
    display: inline-block;
    vertical-align: top;
    width: auto;
    float: left;
    }


    .list{
width:auto;
    color: white;
    display:inline-block;
    float: left;
    }


    .india-box{
float: left;
    width: auto;
    margin-top:20px;
    }


    .border{
       border: 1px solid transparent;
    float: left;
    height: 56px;
    padding-top: 27px;
    margin-top: -30px;

    }

     .border:hover{
 border: 1px solid white;
     }
    .india-box img{
        width:25px;
    }

 .india-box span{
font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    padding-bottom: 5px;
    }

    .india-box i{
font-size: 10px;
    }

    .hello-box{
        width: auto;
        float:left;
    margin-left: 20px;
    position: relative;
    }

    .i{
        font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
    margin-top: 9px;

    }

    .hello-box i{
        font-size: 10px;
        top: 21px;
    position: relative;
    }

      .ii{
        font-size: 14px;
    line-height: 15px;
    font-weight: 700;
      }

      .border2{
        border: 1px solid transparent;
    float: left;
    height: 56px;
    padding-top: 10px;
    margin-top: -11px;
    position: relative;

      }

 .border2:hover{
 border: 1px solid white;
 }




 .language-box{
   width: 250px;
    border: 1px solid #ddd;
    padding: 10px;
    top: 67px;
    color: black;
    background: white;
    z-index: 999;
    /* left: -57px; */
    position: absolute;
    visibility: hidden;

    
}

.language-option {
      display: flex;
      align-items: center;
      padding: 5px 0;
      border-bottom: 1px solid #eee;
    }


    .language-option:last-child {
      border-bottom: none;
    }

    .language-option label {
      margin-left: 8px;
      cursor: pointer;
    }

    .learn-more {
      color: #0066c0;
      font-size: 14px;
      margin-top: 10px;
      display: block;
      cursor: pointer;
      text-decoration: none;
    }

    .learn-more:hover {
      text-decoration: underline;
    }


    .india-box:hover .language-box{
visibility: visible;
transition: 0.3s;
    }

    .language-box i{
    position: absolute;
    color: white;
    top: -28px;
    left: 36px;
    font-size: 35px;
    height: 14px;
   
    }



.icon{
float: left;
}
.icon i{
  width: 17px;
font-size: 25px;
    height: 14px;
    background-position: -172px -255px;

}











.menu-box i{
     position: absolute;
    color: white;
    top: -28px;
    left: 356px;
    font-size: 35px;
    height: 14px;
}

.border2:hover .menu-box {
visibility: visible;
}



     .menu-box {
     width: 500px;
    border: 1px solid #ddd;
    padding: 20px;
    right: -133px;
    background-color: white;
    z-index: 999;
    top: 61px;
    position: absolute;
    visibility: hidden;
}



    .signin {
      text-align: center;
      margin-bottom: 15px;
    }
    .signin button {
      background: #FFD814;
      border: 1px solid #FCD200;
      padding: 8px 40px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 8px;
      width: 211px;

      cursor: pointer;
    }
    .signin p {
      margin-top: 5px;
    color: rebeccapurple;
    font-size: 14px;
    }
    .signin p a {
      color: #007185;
      text-decoration: none;
    }
    .lists-accounts {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
    }
    .column {
      width: 45%;
    }
    .column h3 {
      font-size: 16px;
      margin-bottom: 10px;
      color:black;
    }
    .column ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .column ul li {
      margin-bottom: 6px;
      font-size: 14px;
    }
    .column ul li a {
      color: #111;
      text-decoration: none;
    }
    .column ul li a:hover {
      text-decoration: underline;
      color: #C7511F;
    }
    .returns-box{
      width: auto; 
   
    float: left;
    height: 56px;
    padding-top: 10px;
    margin-top: -11px;
   margin-left:10px;
   
    border: 1px solid transparent;

    }


     .returns-box:hover{
border: 1px solid white;
     }

     .main-naw{
        width: auto;
    float: left;
    height: 56px;
    padding-top: 11px;
    margin-top: -11px;
    margin-left: 10px;
   
   
    border: 1px solid transparent;
     }

     .main-naw:hover{
          border: 1px solid white;
     }


      .main-naw img{
    width:40px;
      }


        .main-naw span{
            font-size: 14px;
    line-height: 15px;
    font-weight: 700;
 
        }


        .header-to{
            width:100%;
            background-image: none;
    background-color: #232f3e;
            float:left;
            color:white;

            height: 40px;
        }


        .in-header{
            width:auto;
            float:left;

        }
        .in-header ul li{
            list-style: none;
            display: inline-block;
               font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    padding-left: 5px;
    white-space: nowrap;

        }
     .header-list{
            width:auto;
            float:left;
            margin-top:0px;
     }

        .tree-dot{
         width: auto;
    height: 34px;
   margin:4px;
    float: left;
    border: 1px solid transparent;

        }

        .tree-dot:hover{
border: 1px solid white;
        }

        .tree-dot i{
width: 17px;
font-size: 25px;
    height: 14px;
    background-position: -172px -255px;

        }
/* 
         .tree-dot span{
            font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    
    white-space: nowrap;
         } */

.span-div2 {
  float:left;
      
      z-index: 1;
      position: relative;
}


.icon {
    float: left;
    margin-top: -7px;
}


.span-div2:hover .main-backgraund-plans{
visibility: visible;
}

.main-backgraund-plans{
position: absolute;
    width: 1553px;
    float: left;
    height: 700px;
    background-color: #000000a8 !important;
    top: 35px;
       left: -511px;
    right: 54px;
  visibility: hidden;
}

.main-backgraund-plans i{
position: relative;
    color:white;
    font-size: 110px;
    left: 228px;
    width: 10px;
    
    bottom: 11px;
    z-index: 99999;

}




.main-plans{
width: 324px;
    float: left;
    height: 388px;
    z-index: 9999;
    left: 506px;
    position: relative;
    color: black;
    background-color: white;
   border-radius: 4px;
}

.in-plans{
  width:100%;
  float:left;
  text-align: center;
}


.shoping-div{
  width:100%;
  float:left;
  margin-bottom: -25px;
}
.shoping-div h1{
  font-weight: 700;
  font-weight: 700;
    font-size: 28px;
    line-height: 36px;
}


.pera{
  width:100%;
  float:left;
}

.pera p{
  font-size: 13px;
    font-family: inherit;
    font-weight: 200;
}



.in-images{
  width:100%;
  float:left;
  background-color: #0578FF;
}

.in-images img{
  width:100%;

}


.in-battan{
  width:100%;
  float:left;
  margin-top:10px;
}

.in-battan button{
color: black;
    font-size: 14px;
    width: 300px;
    border-radius: 8px;
    font-weight: 300;
    height: 30px;
    border: none;
    background-color: #ffee00;

}

.in-battan button a{
  text-decoration: none;
}

.pirme-a {
 width: 100%;
    margin-top: 19px;
    float: right;
    margin-left: 27px;
}


.pirme-a img{
width: 36%;
    margin-left: 186px;
    float: left;
}


.slick-initialized .slick-slide{
  padding: 0px !important;
}


.span-div2{

}



   .span-div2 span{
            font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    
    white-space: nowrap;
         }

          .span-div span{
            font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    
    white-space: nowrap;
         }

         .span-div2 i{
          font-size: 10px;
         }



         .main-slick-shilyeder{
        width: 100%;
        background-color: #ddd;
          /* height: 521px; */
          float:left; 
         }

         .n-slick-shilyeder{
          float:left;
          width: 100% !important;
          height: 100%;

         }

         .slick-list {
          padding: 0 !important;
         }
         .slick-image{
          max-width:100% !important;
          float:left;
          max-height:1000px;
         }
         .slick-image img{
          width:100%;
          height: auto;
  object-fit: cover;
  display: block;
         }

         








.n-slick-shilyeder .slick-prev {
    left: 39px;
   
    width: 80px;
    border-radius: 100px;
    z-index: 1;
    height: 80px;
    top:130px;
}

.n-slick-shilyeder .slick-next {
    right: 39px;
   
    width: 80px;
    border-radius: 100px;
    z-index: 1;
    height: 80px;
     top:135px;
     overflow: hidden;
    
}

  



.n-slick-shilyeder .slick-next:before {
content: "";
    display: block;
    width: 128px;
    height: 108px;
    
    margin-top: -14px;
    margin-left: -69px;
    margin-left: -69px;
    background-image: url(../images/arrow2.png);
}

.n-slick-shilyeder .slick-prev:before{
  content:"";   
  display: block;
  width: 40px;               
  height: 88px;
  
 
  background-repeat: no-repeat;
    background-image: url('../images/arrow.png');  
}





 .bike-slider .slick-next{
  right: 39px;
  width: 80px;
  z-index: 1;
    height: 220px;
    top: 130px;
    opacity: 0;
    transition: 0.4s;
  }



   

    .bike-slider .slick-prev{
  right: 39px;
  width: 80px;
  z-index: 1;
 opacity: 0;
    height: 220px;
    top: 130px;
    transition: 0.4s;
  }




  .bike-slider .slick-next:before {
    content: '\F285';
    display: block;
font-family: 'bootstrap-icons';
    width: 40px;
    height: 108px;
    
    color: black;
    padding-top: 37px;
    font-size: 31px;
    height: 63px;
    background-color: rgb(255 255 255 / 96%);

  
}


.bike-slider .slick-prev:before {
content: '\F284';
    font-family: 'bootstrap-icons';
    display: block;
    width: 40px;
    color: black;
    padding-top: 37px;
    font-size: 31px;
    height: 63px;
    background-color: rgb(255 255 255 / 96%);

 
  
}



.bike-slider .slick-prev {
    left: 31px;
}


.bike-slider2:hover .slick-next{
  opacity: 1.1;
  transition: 0.4s;
}



 .bike-slider2:hover .slick-prev{
  opacity: 1.1;
  transition: 0.4s;
 }


.bike-slider:hover .slick-next{
  opacity: 1.1;
  transition: 0.4s;
}



 .bike-slider:hover .slick-prev{
  opacity: 1.1;
  transition: 0.4s;
 }





.bike-slider2 .slick-prev {
    left: 31px;
}



 .bike-slider2 .slick-next{
  right: 39px;
  width: 80px;
  z-index: 1;
    height: 220px;
    top: 130px;
    opacity: 0;
    transition: 0.4s;
  }



   

    .bike-slider2 .slick-prev{
  right: 39px;
  width: 80px;
  z-index: 1;
 opacity: 0;
    height: 220px;
    top: 130px;
    transition: 0.4s;
  }



.bike-slider2 .slick-next:before {
    content: '\F285';
    display: block;
font-family: 'bootstrap-icons';
    width: 40px;
    height: 108px;
    
    color: black;
    padding-top: 37px;
    font-size: 31px;
    height: 63px;
    background-color: rgb(255 255 255 / 96%);

  
}


.bike-slider2 .slick-prev:before {
content: '\F284';
    font-family: 'bootstrap-icons';
    display: block;
    width: 40px;
    color: black;
    padding-top: 37px;
    font-size: 31px;
    height: 63px;
    background-color: rgb(255 255 255 / 96%);

 
  
}






 .container {
    display: grid
;
    max-width: 1480px;
    float: left;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    position: relative;
    left: 16px;
    bottom: 345px;
    }

    .box {
      background: #fff;
      border: 1px solid #ddd;
      padding: 15px;
      float:left;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }
    .box h2 {
      font-size: 18px;
      margin-bottom: 15px;
    }
    .items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      float:left;
    }
    .items div {
      text-align: center;
    }
    .items img {
      width: 100%;
      height: 120px;
      object-fit: cover;
      border-radius: 4px;
    }
    .items p {
      font-size: 14px;
      margin: 5px 0 0;
    }
    .link {
      margin-top: 10px;
      display: block;
      color: #007185;
      font-weight: bold;
      text-decoration: none;
      float:left;
    }
    .link:hover {
      text-decoration: underline;
    }


.slider-box:hover{

}


     .slider-box {
      background: #fff;
       max-width: 1480px;
      float:left;
      margin-left:16px;
     margin-bottom:16px;
      border: 1px solid #ddd;
      padding: 15px;
      margin-top: -324px;
    }
    .slider-box h2 {
      font-size: 20px;
      margin-bottom: 15px;
    }
    .bike-slider img {
      width: 100%;
      height: 250px;
      object-fit: contain;
    }
    .slick-prev::after, 





    .slick-next::after {
      color: black;
      font-size: 30px;
    }



    
.slider-box2:hover{

}


     .slider-box2 {
      background: #fff;
       max-width: 1480px;
      float:left;
      margin-left:16px;
     margin-top: 16px;
      border: 1px solid #ddd;
      padding: 15px;

    
    }
.bike-slider2{
  width:100%;
  float:left;
}

    .slider-box2 h2 {
      font-size: 20px;
      margin-bottom: 15px;
    }
    .bike-slider2 img {
      width: 100%;
      height: 250px;
      object-fit: contain;
    }
    .slick-prev::after, 





    .slick-next::after {
      color: black;
      font-size: 30px;
    }



.customer{
   background: #fff;
      width:100%;
      float:left;
   background-color: #ddd;
     margin-top: 16px;
 
     
      

}
    


.main-customar-box{
  width:100%;
  float:left;
  
}
    

.customar-images-box{
  width:24%;
  background-color: white;
  float:left;
  margin:6px;
  padding:17px;
  overflow: hidden;
  height: 413px;

  
}

.customar-images-box h2{
font-weight: 700;
    font-size: 22px;
    padding-left: 12px;
    line-height: 32px;
    color: black;
}

.only-img2{
  width: 100%;
    float: left;
    height:310px;
}


.a{
  width:50%;
  float:left;
}
.a img{
  width:100%;
}


.b{
  width:50%;
  float:left;
}

.b img{
width:100%;
}

.only-img2 span{
  color:#2162a1;
      margin-left: 12px;
}





.background{
  width:100%;
  background-color: #ddd;
  float:left;
}

.one-img{
  width:87%;
  float:left;
  margin-left:16px;
}

.one-img img{
  width:100%;
}

.customar-images-box span{
  margin-left:16px;
}
















.main-box{
   width: 100%;
   float: left;
height: 150px;
    
    }

    .main-box2{
      width:150px;
      float:left;
      height: 150px;
    }

.top-pic{
    width:315px;
    float:left;
    height: 230px;
   
}

.top-pic img{
    width:100%;
    height: 230px;
    
}

.bottom-pic{
    width:320px;
    float:left;

     padding:5px;
    
     
  
    
}

.img-boder{
   width:320px;
    float:left;
 
}

.img-boder img{
   width:100%;
  
}



.bottom-pic img{
    width:100%;
     
 
    
}


.top-pic{
    width: calc(100% -500px);
    float: right;
}


/* .slick-slide{
border: 1px solid black;
} */

.bottom-pic .slick-active {
border: 1px solid black;
}

.bottom-pic .slick-active:hover{
   border: 1px solid blue;
}

.bottom-pic .slick-active{
  padding: 2px;
  margin:2px;
}





.main-releted{
  width:100%;
  float:left;
  height: 586px;
  background-color: white;
}

.left-right-header{
width: 100%;
    margin-top: 43px;
  
    float: left;
  border-top:1px solid #ddd;
}

.left{
  width:50%;
  float:left;
  margin-left:28px;

}
.left h2{
  font-weight: 700;
    font-size: 25px;
    float: left;
    line-height: 32px;
}

.left span{
  color: #2162a1;
    padding-top: 30px;
    padding-left: 7px;
    font-size: 15px;
    float: left;
}


.right{
width: 50%;
    margin-top: -50px;
    margin-bottom: 21px;
    margin-right: 30px;
    float: right;
}

.right span{
  font-size: 14px !important;
  float:right;
    line-height: 20px !important;
}
body{
  margin:0px;
  padding:0px;
}

.main-shilyeder-six-box{
  width:100%;
  float:left;
  padding: 6px 130px;
}

.on-shilayeder{
  width:100%;
  float:left;
}

.images-and-content-box{
  width:100%;
  float:left;
height:400px;

}



.only-images{
  width:100%;
  float:left;
  height: 190px;
 
}

.only-images img{
  width:100%;
}


.mix-content{
  width:100%;
  float:left;
  margin-top:10px;
  font-size: 15px;
}

.mix-content a{
  color:#2162a1;
}

.star-box{
  width:100%;
  float:left;
}

.star-box i{
  color:red;
}

.price{
  width:100%;
  float:left;
}

.price span{
  font-size: 17px;
  color:#0f1111;
}


.free{
  width:100%;
  float:left;
}

.free span{
      font-size: 12px !important;
    line-height: 16px !important;
color:#0f1111;
}


.slick-initialized .slick-slide{
  padding: 10px;
}




.on-shilayeder .slick-prev{
  left: -73px;
    border-radius: 8px;
    height: 36px;
    z-index: 1;
    width: 36px;
    
   
}





.on-shilayeder .slick-next {
    right: -73px;
   
    height: 36px;
    width: 36px;
    color: black;
    z-index: 1;
}






.on-shilayeder .slick-next:before {
   content: '\F285';
    display: block;
    font-family: 'bootstrap-icons';
    width: 36px;
    padding-top: -16px;
    height: 36px;
    color: black;
    border: 1px solid black;
    font-size: 31px;
    border-radius: 7px;
    height: 34px;
    

  
}


.on-shilayeder .slick-prev:before {
content: '\F284';
    font-family: 'bootstrap-icons';
    display: block;
 width: 36px;
    padding-top: -16px;
    height: 36px;
    color: black;
    border: 1px solid black;
    font-size: 31px;
    border-radius: 7px;
    height: 34px;
 
  
}




.wrapper{
width: 100%;
    text-align: center;
    float: left;
    margin-bottom: 0px;
    padding-bottom: 17px;
    border-bottom: 1px solid #ddd;
    background-color: white;
    border-top: 1px solid #ddd;
}


.inner{
  width:100%;
  float:left;
  text-align: center;
}

.battan{
  width:100%;


  text-align: center;
}

.battan button{
  width: 242px;
    border-radius: 6px;
    text-align: center;
    border: none;
    font-size: 17px;
    height: 40px;
    color: black;
    background-color: #FCD200;
}


.small{
  width:100%;
  float:left;
  font-size: 11px;
  padding-bottom: 10px;
  border-bottom:1px solid #ddd;
}

.small a{
  color:blue;
}

.back-top-top{
  width:100%;
  height: 42px;
  padding-top:10px;
  float:left;
  text-align: center;
    background-color: #37475A;
}


.back-top-top span{
  color:white;
  padding: 15px 0;
    line-height: 19px;
    font-size: 13px;
}














    .footer-container {
    width:100%;
    float:left;
    background-color: #232F3E;
      justify-content: space-around;
     
      margin: auto;
      flex-wrap: wrap;
    }


    .in-contenar{
        float: left;
    margin-top: 29px;
    margin-left: 327px;
    
    }




    .footer-column {
      width: 220px;
      float:left;
      margin-bottom: 20px;
    }

    .footer-column h4 {
      font-size: 16px;
      margin-bottom: 10px;
      font-weight: bold;
      color:white;
    }

    .footer-column ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .footer-column ul li {
      margin-bottom: 8px;
    }

    .footer-column ul li a {
      text-decoration: none;
      color: white;
      font-size: 14px;
    }

    .footer-column ul li a:hover {
      text-decoration: underline;
      color: white;
    }



    .bottom-border{
      border-top: 1px solid #3a4553;
        
          width:100%;
          height: 20px;
          float:left;
          background-color: #232F3E;
    }






.bottom-logo{
  width:100%;
  float:left;
  background-color:#232F3E ;
    padding: 15px;
}



    .logo {
    float: left;
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-color:#232F3E ;
    padding: 15px;
    margin-left:527px;
  }


  .logo img{
    width:109px;
  }




  .logo span {
    color: white;
  }
  .buttons {
    float: right;
    padding: 15px;
    margin-right:527px;
  }




  .btn {
    border: 1px solid #3a4858;
    background: transparent;
    color: white;
    padding: 8px 12px;
    float:left;
    margin-left: 8px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    height: 34px;
    background-image: url(../images/);
  }

.btn img{
  width:15px;
}



  .clear { clear: both; }







.btn:hover  .language-box2{
  visibility: visible;
}


  
 .language-box2{
   width: 250px;
    border: 1px solid #ddd;
    padding: 10px;
    top: 36px;
    color: black;
    background: white;
    z-index: 999;
    /* left: -57px; */
    position: absolute;
    visibility: hidden;

    
}

.language-option {
      display: flex;
      align-items: center;
      padding: 5px 0;
      border-bottom: 1px solid #eee;
    }


    .language-option:last-child {
      border-bottom: none;
    }

    .language-option label {
      margin-left: 8px;
      cursor: pointer;
    }

    .learn-more {
      color: #0066c0;
      font-size: 14px;
      margin-top: 10px;
      display: block;
      cursor: pointer;
      text-decoration: none;
    }

    .learn-more:hover {
      text-decoration: underline;
    }


    .india-box:hover .language-box{
visibility: visible;
transition: 0.3s;
    }

    .language-box i{
    position: absolute;
    color: white;
    top: -28px;
    left: 36px;
    font-size: 35px;
    height: 14px;
   
    }




















     .footer {
     background-color: #131a22;
    padding: 36px 358px;
    
    float: left;
    width: 100%;
    color: white;
    text-align: center;
    }
    .footer-links {
     float: left;
    width: 100%;
    margin-bottom: 35px;
    }
    .footer-col {
     text-align: left;
    float: left;
    width: 25%;
    }


.footer-col span{
color:#999;
font-size: 10px;
}



    .footer-col h5{
      font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    }
    .footer-col a:hover {
      text-decoration: underline;
    }
    .footer-bottom {
      font-size: 12px;
      color: #aaa;
    }
    .footer-bottom a {
      color: #aaa;
      margin: 0 10px;
      text-decoration: none;
    }
    .footer-bottom a:hover {
      text-decoration: underline;
    }


/* main-css-hai */


